<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vice.curacfrlib">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>

        <activity android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
                  android:launchMode="standard"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:name=".floatwindow.permission.FloatActivity"/>

    </application>
</manifest>
